.element{
	font-size: 50px;
}

img {
	height: 200px;
}

img #img-title{
	height: auto;
}

.one{
	margin: 0 auto;
}

#intro{
	padding-left: 150px;
	font-size: 16px;
}

#tedmosby{
	float: left;
}

#intro-vic{
	text-align: center;
	vertical-align: top;
	font-size: 16px;
}

#gf-1 {
	float: left;
}

#heart{
	width: 20px;
	height: 20px;
}